@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Space+Mono&display=swap');
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'RIDIBatang';margin: 0px;
    padding: 0px;
    
    transition: all .3s ease-in-out;

    --back-bg : rgb(231,192,122);
    --back-bg-color :linear-gradient(90deg, rgba(231,192,122,1) 0%, rgba(147,101,60,1) 100%);
}
body{
    color: #333;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
b{
    font-weight: 600;
}
a{
    text-decoration: none !important;
    color: black;
}
.wrap{
    width: 100%;
}
.inner{
    width: 1200px;
    margin: auto;
    position: relative;
}
section{
    margin-bottom: 180px;
}

/*header*/

.header{
    width: 100%;
    height: 105px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    transition: all .3s ease-in-out;
}
.header>.wrap>.inner>.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;

}
.header>.wrap>.inner>.header-menu>.header-menu-logoimgBox>
.header-menu-logoimg{
    width: 147px;
    filter: brightness(0) invert();
}
.header>.wrap>.inner>.header-menu>.header-menu-linkList>
.header-menu-link{
    padding: 42px 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.header>.wrap>.inner>.header-menu>.header-menu-linkList>
.header-menu-link>span{
    position: absolute;
    bottom: 36px;
    background-color: white;
    height: 1px;
    width: 0%;
    left: 50%;
    border-radius: 100px;
    
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.header>.wrap>.inner>.header-menu>.header-menu-linkList>
.header-menu-link:hover span{
    width: 65%;
}

/*footer*/
footer.footer{
    width: 100%;
    height: 200px;
    background-color: #333;
}
.footer {
    width: 100%;
    font-weight: 500;
    color: #ccc;
    background-color: white;
    font-size: 14px;
    padding-top: 20px;
  }
  
  .footer_top {
    margin-top: 16px;
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
  }
  
  .footer_logo_img {
    width: 240px;
    height: 80px;
    object-fit: cover;
    filter: brightness(1) invert();
  }
  
  .footer_top_box1_title {
    font-weight: bolder !important;
    margin-top: 8px;
    margin-bottom: 8px;
  
  }
  
  .footer_top_box1_text {
    margin-bottom: 4px;
  }
  
  .GotoTopButton {
    width: 48px;
    height: 48px;
  }
  
  .GotoTopButton_img {
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
  
  .footer_body {
    border-top: .0625rem solid #eef3f6;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding-top: 16px;
  }
  
  .footer_link {
    font-weight: bold;
    color: #ccc;
    margin-left: 16px;
  }
  
  

/*visual section*/
section#visual-section{
    position: relative;
    width: 100%;
    height: 100vh;
}
section#visual-section>.slide{
    width: 100%;
    height: 100vh;
}
section#visual-section>.slide>.item{
    width: 100%;
    height: 100vh;
    
}
.black{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    opacity: 0.7;
    background-color: black;
}
video{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.visual-text{
    width: 100%;
    position: absolute;
    z-index: 9998;
    color: white;
    font-size: 45px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: -2px;
    line-height: 1.5;
}
.visual-text-content>.text-boldLine{
    font-weight: 600;
    display: flex;
}
.visual-text-content>.text-boldLine>strong{
    font-weight: 600;
    height: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background : var(--back-bg);
    background: var(--back-bg-color);
}
.visual-text-content>.text-boldLine>strong>img{
    width: 240px;
    filter: brightness(0) invert();
}
.text-little{
    font-size: 24px;
    margin-top: 24px;
}
.text-little>strong{
    
    font-weight: 600;
    text-decoration: underline;
}

.section-title{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -2px;
    position: relative;
    position: relative;
    z-index: 2;

    margin-bottom: 40px;
    line-height: 1.4;
    
}

.section-title > strong{

    color: var(--back-bg);
    padding: 12px;
}

.section-subtitle{
    letter-spacing: -1px;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
.mainpage-itemImg{
    display: block;
    width: 580px;
    height: 450px;
    object-fit: contain;
}
.mainpage-item{
    width: 580px;
}
.mainpage-itemLine{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.mainpage-item-title{
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 26px;
    font-weight: 400;

}
.mainpage-item-text{
    font-size: 17px;
    letter-spacing: -.3px;
    margin-bottom: 24px;
}
.mainpage-item-link{
    display: flex;
    width: 165px;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px #ccc solid;
}
.mainpage-item-link > svg{
    fill: #888;
    padding-top: 2px;
}
.mainpage-item-title > strong{
    color: var(--back-bg);
}

@keyframes rotation{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.spin{
    content: '';
    position: absolute;
    z-index: -1;
    top: -10px;
    right: 0px;
    width: 60px;
    height: 60px;
    background: url(../images/ico/ico_circle.png) no-repeat center;
    background-size: 100%;
    animation: rotation 4s infinite linear;
    animation-fill-mode: forwards;
}
.listBox{
    margin-top: 40px;
}
.listItem{
    position: relative;
    color: #555;
    margin-top: 18px;
    font-size: 24px;
    counter-increment: about;
    word-break: keep-all;
}
.listItem > strong{
    font-weight: normal;
}

.fullscreen{
    height: calc(100vh - 105px);
    background : var(--back-bg);
    background : var(--back-bg-color);
    position: relative;
}
.mainpage-service{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: block;
}
.main-page-serviceBox{
    padding: 150px;
    width: 1200px;
    margin: auto;
}
.service-subtitle{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}

.service-title{
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    color: white;
    line-height: 1.25;
    letter-spacing: -1px;
}
.service-item-line{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.service-item{
    display: block;
    width: 285px;
    height: 388px;
    position: relative;
    overflow: hidden;
}
.service-item-img{
    width: 285px;
    height: 388px;
    object-fit: contain;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9996;
}
.service-item-title, .service-item-showTitle{
    width: calc(100% - 45px);
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 9998;
    color: white;
    text-align: center;
}
.service-item-showTitle{
    transform: scale(0);
    top: 0%;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    word-break: keep-all;
}
.service-item-title{
    font-size: 30px;
    font-weight: 600;
    top: 50%;
}

.service-item-black{
    width: 285px;
    height: 388px;
    background-color: black;
    opacity: .5;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9997;
}

.service-item:hover > .service-item-showTitle{
    transform: scale(1);
    top: 60%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.service-item:hover > .service-item-title{
    transform: scale(1);
    top: 40%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.service-item:hover > img{
    transform: scale(1.5);
}

.grp-topBox-title{
    font-size: 32px;
    margin-top: 104px;
    margin-bottom: 104px;
    color: #555;
    position: relative;
    z-index: 9998;
}
.grp-bottomBox-box{
    background: var(--back-bg);
    background: var(--back-bg-color);
    height: 260px;
    position: relative;
    margin-top: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.grp-bottomBox-box > video{
    position: absolute;
    top: -300px;
    right: 0px;
    width: 500px;
    height: 300px;
}
.grp-topBox-text{
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}
.grp-bottomBox-left{
    width: 600px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
}
.grp-bottomBox-item{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.grp-bottomBox-item-label{
    font-size: 18px;
}
.grp-bottomBox-item-persect{
    font-size: 40px;
    font-weight: 600;
}
.grp-bottomBox-lleft{
    border-right: 1px solid white;
}
.grp-bottomBox-button{
    border: none;
    outline: none;
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 200px;
    height: 50px;
    line-height: 48px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 16px;
}


/*여긴뭐야 코드*/
#wit-visual{
    margin-bottom: 0px;
    width: 100%;
    height: 100vh;
    background-image: url(../src/bg_visual_what.jpg);
}
#wit-visual  .inner{
    height: 100vh;
}
.visual-whereIsHere-boxc{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
.visual-whereIsHere{
    font-size: 60px;
    line-height: 1.4;
    font-weight: 600;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    letter-spacing: -3.6px;
}
.visual-whereIsHereSubtext{
    font-size: 30px;
    margin-top: 50px;
}


#wit-text-section{
    padding-top: 180px;
}
.wit-smallTitle{
    font-size: 30px;
    margin-bottom: 30px;
    word-break: keep-all;
}
.wit-title{
    font-weight: 600;
    font-size: 34px;
    line-height: 1.4;
}
.wit-title-underline{
    font-weight: 600;
    font-size: 34px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    line-height: 1.4;
}
.wit-text-section-img > img{
    display: block;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 80px;
}
.wit-text{
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
    word-break: keep-all;
    color: #555;
}
.wit-text-underLine{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: #888;
}
.wit-sec-icon{
    position: absolute;
    transform: translateY(-50%);
    left: -84px;
}
#wit-sec{
    width: 100%;
    height: 100vh;
    background-image: url(../src/bg_what_img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.wit-sec-txtBox{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
.wit-sec-title{
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 1.6;
    word-break: keep-all;
    font-weight: 600;
}
.wit-sec-maintext{
    margin-bottom: 40px;
}
.wit-sec-maintext>b{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: 600;
}
.wit-sec-txtBox>img{
    display: block;
}
.wit-sec-txtBox>img:last-child{
    margin-top: 24px;
}
#wit-sec{
    margin-bottom: 0px;
    padding-bottom: 160px;
}
.wit-pdfBox{
    margin-top: 80px;
    border: 1px solid #e0e0e0;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.wit-pdf-left-title{
    font-size: 30px;
    line-height: 1.6;
    font-weight: 600;
}
.wit-pdf-left-subtitle{
    margin-top: 12px;
    font-size: 20px;
    color: #555;
    line-height: 1.6;
}
.wit-pdf-right-button{
    padding: 14px 40px;
    color: white;
    border: none;
    outline: none;
    background-color: #333;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.wit-pdf-right-button > svg{
    margin-left: 20px;
}
/*서비스 코드*/

#serv-visual{
    margin-bottom: 0px;
    width: 100%;
    height: 100vh;
    background-image: url(../src/bg_visual_business.jpg);
    background-position: center;
}
#serv-visual  .inner{
    height: 100vh;
}

.serv-section-title{
    margin-bottom: 60px;
    text-align: center;
    font-size: 40px;
    letter-spacing: -1px;
}
.serv-section-title>b{
    color: var(--back-bg);
}
#serv-sec{
padding-top: 180px;
}
#serv-thi{
    position: relative;
    height: 1338px;
    background-image: url(../src/bg_mkknow.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
}
#serv-thi>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.serv-thi-title{
    margin-bottom: 80px;
    text-align: center;
    font-size: 40px;
    letter-spacing: -1px;
    color: white;
}
.serv-thi-title>b>b{
    color: var(--back-bg);
}
.serv-thi-textBox{
    padding: 40px 80px;
    width: 1200px;
    background-color: #fff;
}
.serv-thi-textBox-item{
    position: relative;
    padding: 40px 0px 40px 56px;
    border-bottom: 1px dashed #ccc;
}
.listNum{
    position: absolute;
    z-index: 1;
    top: 36px;
    left: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    background: var(--back-bg);
}
.under{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.serv-thi-textBox-title{
    font-size: 20px;
    line-height: 1.6;
    word-break: keep-all;
}
.serv-thi-textBox-text{
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.6;
    word-break: keep-all;
    color: #555;
    letter-spacing: -1px;
}

#serv-fou{
    padding-top: 150px;
    padding-bottom: 150px;
    background: #F4F4F4
}
.serv-subtitle{
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
    color: var(--back-bg);
    font-weight: 600;
}

.serv-fou-textline-head{
    display: flex;
    position: relative;
    margin-bottom: 30px;
}
.serv-fou-textline-head > .listNum{
    margin-right: 18px;
}
.whoawe{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    background: var(--back-bg);
}
.serv-fou-textline-title{
    color: var(--back-bg);
    font-size: 28px;
    padding-left: 64px;
    font-weight: 600;
    line-height: 1.6;
}
.serv-fou-textline-text{
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: -1px;
}


.service-zomIntBox{
    padding: 60px 40px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(136,136,136,.3);
    margin-top: 40px;
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
}
.service-zomIntBox-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    width: 80px;
    height: 80px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    background: var(--back-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-zomIntBox-right{
    padding-left: 120px;
}
.service-zomIntBox-right-title{
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -0.5px;
}
.service-zomIntBox-buttonLine{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-zomIntBox-button{
    width: calc(33.3% - 30px);
    font-size: 20px;
    background-color: var(--back-bg);
    font-weight: 600;
    border-radius: 80px;
    padding: 26px 0;
    color: white;
    text-align: center;
    box-shadow: 0 4px 20px rgba(231,192,122,.3);
}
.real-review-list{
    position: relative;
    min-height: 1060px;
}
.real-review-item{
    margin: 0 9px 32px;
    position: absolute;
    width: calc(33.3% - 18px);
}
.real-review-item-body{
    padding: 24px;
    box-shadow: 0px 4px 20px rgba(136,136,136,.3);

    border-radius: 18px;
}

.real-review-item-body > img{
    width: 100%;
    border-radius: 18px;
}
.real-review-item-title{
    position: relative;
    margin-bottom: 18px;
    
}
.real-review-item-titleText{
    font-size: 18px;
    font-weight: 400;
    display: block;
    padding-left: 43px;
}
.real-review-item-icon{
    background-color: var(--back-bg);
    width: 28px;
    height: 28px;
    line-height: 24px;
    text-align: center;
    border-radius: 100px;
    position: absolute;

}
.real-review-underButton{
    display: block;
    color: white;
    box-shadow: 0 4px 20px rgba(231,192,122,.3);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    border-radius: 80px;
    width: 800px;
    margin: 80px auto 0;
    padding : 26px 0;
    background-color: var(--back-bg);
    text-align: center;
}
#serv-sixth{
    padding: 150px 0;
    background-color: #F4F4F4;
}
.serv-calumList{
    margin-top: 60px;
}
.serv-calumItem{
    padding: 45px 30px 45px 50px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.serv-calumItem-left{
    margin-right: 48px;
}
.serv-calumItem-left-top{
    color: var(--back-bg);
    font-size: 40px;
    font-weight: 800;
    line-height: 1.6;
    text-align: center;
}
.serv-calumItem-left-bottom{
    font-weight: 700;
    line-height: 1.6;
    color: #888;
}
.serv-calumItem-left-right{
    width: 50%;
    flex-grow: 1;
}
.serv-calumItem-left-title{
    color: #333;
    font-weight: 600;
    line-height: 1.6;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    margin-bottom: 10px;
}
.serv-calumItem-left-text{
    line-height: 1.6;
    color: #555;

}
.serv-svnth-textBox{
    border-left: 3px solid var(--back-bg);
    padding-left: 50px;
}
.serv-svnth-item{
    padding: 60px 28px;
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    align-items: center;
    justify-content: space-between;
}

.serv-svnth-item>div{
    position: relative;
    width: 50%;

}
.serv-svnth-item-left-title{
    margin-top: 15px;
    font-weight: 500;
    font-size: 32px;
    display: block;
}
.serv-svnth-item-left-label{
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 600;
    z-index: 1;
}
.polo{
    display: block;
    width: 15px;
    height: 15px;
    background-color: var(--back-bg);
    position: absolute;
    z-index: -999;
    left: -6px;
    top: -4px;
}
.serv-svnth-item-right{
    line-height : 1.6;
    word-break: keep-all;
    color: #555;

}
.serv-eigth-accBox{
    border-top: 2px solid var(--back-bg);
}

.serv-eigth-accBox-title{
    padding: 34px 82px;
    position: relative;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
    cursor: pointer;
    counter-increment: faq;
    border-bottom: 1px solid #E0E0E0;
}

.serv-eigth-accBox-title>strong{
    position: absolute;
    left: 29px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.serv-eigth-accBox-body{
    /*padding: 34px 10px 34px 82px;*/
    height: 0px;
    overflow: hidden;
    font-size: 18px;
    color: #555;
    border-bottom: 1px solid #E0E0E0;
}

.serv-eigth-accBox-body-open{
    padding: 34px 10px 34px 82px;
    height: auto;
    font-size: 18px;
    color: #555;
    border-bottom: 1px solid #E0E0E0;
}

.openButton{
    position: absolute;
    right: 0px;
    background-color: var(--back-bg);
    width: 42px;
    height: 42px;
    border-radius: 100px;
    top: 50%;
    line-height: 44px;
    text-align: center;
    transform: translateY(-50%);
}

.openButton-opened{
    transform: translateY(-50%) rotate(180deg) ;
}
.goDownButton{
    color: white;
    letter-spacing: -0.5px;
    position: absolute;
    left: 50%;
    bottom: 24px;
    cursor: pointer;
    transform: translateX(-50%);
}
.down-icon{
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    line-height: 64px;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 14px;

}



    .real-review-item{
        position: absolute;
        transform: translateY(150px);
        opacity: 0;
        transition: .6s all ease;
      }
      .real-review-item.active{
        transform: translateY(0);
        opacity: 1;
      }

.left-slide-menu{
    width: 100%;
    background-color: white;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    top: 71px;
    right: 0px;
    transform: translateX(100%);
}
.left-slide-logoimg{
    display: block;
    width: 150px;
    height: 40px;
    object-fit: cover;
    filter: brightness(0) invert();
}
.slide-inner{
    width: 100%;
    margin: auto;
}
.left-slide-top{
    display: none;
    padding: 15px 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    font-size: 32px;
    color: white;
}
.left-slide-link{
    display: block;
    padding: 18px 30px;
}
/*반응형*/


@media (max-width: 1200px) {
    .inner{
        width: 95%;
        margin: auto;
    }
    .mainpage-itemLine{
        display: block;
    }
    .mainpage-item{
        margin: auto;
    }
    .service-item-line{
        display: block;
    }
    .service-item{
        display: inline-block;
        margin: 60px;
    }
    .main-page-serviceBox{
        width: 95%;
        padding: 40px;
        text-align: center;
    }
}

@media (max-width: 964px) {
    .visual-text-content{
        font-size: 40px;
    }
    .visual-text-content>.text-boldLine>strong>img{
        height: 60px;
        object-fit: cover;
    }
    .header-menu-logoimgBox{
        display: none;
    }
    .header-menu-linkList{
        display: none;
    }
    .left-slide-top{
        display: flex;
    }
    header{
        height: 71px!important;
    }
}

@media (max-width: 600px) {
    .visual-whereIsHere-boxc{
        padding-right: 30px;
        word-break: keep-all;
    }
    header{
        width: 100% !important;
    }
    header > .wrap{
        display: none;
    }
    .inner{
        width: auto;
        padding: 0px 30px;
    }
    .visual-text-content{
        font-size: 28px;
    }
    .visual-text-content>.text-boldLine>strong>img{
        display: none;
    }
    .visual-text-content>.text-boldLine>strong:before{
        content: "킹메이커";

    }
    .visual-text-content>.text-boldLine>strong{
        background:none;
        display: inline;
    }
    .visual-text-content>.text-boldLine{
        display: inline;
        word-break: keep-all;
    }
    .left-slide-top{
        font-size: 24px;
        
    }
    .text-little{
        font-size: 15px;
    }
    .section-title{
        font-size: 24px;
        word-break: keep-all;
    }
    .section-subtitle{
        font-size: 18px;
    }
    .mainpage-itemImg{
        width: 100%;
        height: 280px;
    }
    .mainpage-item{
        width: 100%;
        margin-bottom: 32px;
    }
    .mainpage-item-title{
        font-size: 14px;
    }
    .mainpage-item-text{
        font-size: 12px;
    }
    .mainpage-item-link{
        font-size: 12px;
    }
    .listItem{
        font-size: 16px;
    }
    .service-subtitle{
        font-size: 16px;
    }
    .service-title{
        font-size: 20px;
    }
    .fullscreen{
        width: 100%;
        height: auto;
    }
    .main-page-serviceBox{
        padding: 80px 0px;
    }
    .service-item{
        margin: 30px 0px;
    }
    .grp-topBox-title{
        font-size: 18px;
        text-align: center;
        letter-spacing: -2.0px;
    }
    .grp-bottomBox-box > video{
        width: 100%;
        height: 100%;
        object-fit: contain;
        
    }
    .section{
        margin-bottom: 80px;
    }
    .grp-bottomBox-box{
        margin-top: 240px;
    }
    body > .fullscreen+.section > div > div{
        width: 100%;
        padding: 0px;
    }
    .grp-bottomBox-box{
        padding: 30px 30px;
    }
    .grp-topBox-text{
        font-size: 18px;
    }
    .grp-bottomBox-item{
        width: 50%;
        text-align: center;
        display: block;
    }
    .grp-bottomBox-left{
        width: 100%;
    }
    .grp-bottomBox-item-label{
        font-size: 14px;
    }
    .grp-bottomBox-item-persect{
        font-size: 25px;
    }
    .grp-bottomBox-button{
        font-size: 14px;
    }
    .footer{
        height: auto !important;
        padding-bottom: 32px;
    }
    .footer_top{
        display: block;
    }
    .footer_body{
        display: block;
    }
    .footer_top_box1{
        margin-bottom: 18px;
    }
    .visual-whereIsHere{
        font-size: 32px;
    }
    .visual-whereIsHereSubtext{
        font-size: 15px;
        margin-top: 15px;
    }
    .wit-smallTitle{
        font-size: 16px;
    }
    .wit-title-underline{
        word-break: keep-all;
    }
    .wit-title{
        font-size: 18px;
    }
    .wit-text{
        font-size: 14px;
    }
    .wit-text > br{
        display: none;
    }
    #wit-sec{
        height: 678px !important;
        background-size: cover;
        margin-bottom: 80px;
        padding-bottom: 0px;
    }
    #wit-sec .inner{
        height: 678px !important;
    }
    .wit-sec-icon{
        width: 34px;
        left: 20px;
        top: 0px;
    }
    .wit-sec-txtBox>img{
        height: 44px;
    }
    .wit-sec-title{
        font-size: 22px;
        margin-bottom: 30px;
    }
    .wit-sec-maintext{
        font-size: 14px;
        word-break: keep-all;
    }
    .wit-sec-maintext>br{
        display: none;
    }
    .wit-sec-txtBox{
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .wit-pdfBox{
        padding: 40px;
        display: block;
    }
    .wit-pdf-left-title{
        font-size: 18px;
    }
    .wit-pdf-left-subtitle{
        font-size: 14px;
    }
    .wit-pdf-right{
        margin-top: 24px;
        font-size: 13px;
    }
    .wit-pdf-right-button{
        font-size: 13px;
    }
    .footer_logo_img{
        width: 160px;
        height: 80px;
    }
    #serv-sec{
        padding-top: 60px;
    }
    .serv-section-title{
        font-size: 22px;
        margin-bottom: 50px;
    }
    .serv-thi-title{
        font-size: 22px;
        
        word-break: keep-all;
    }
    #serv-thi{
        min-height: 1088px;
    }
    .serv-thi-textBox{
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
    #serv-thi>div{
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
    .listNum{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        position: relative;
        top: 0px;
        left: 0px;
        margin-bottom: 20px;
    }
    .serv-thi-textBox-title{
        font-size: 16px;
        word-break: keep-all;
    }
    .serv-thi-textBox-text{
        font-size: 15px;
    }
    .serv-thi-title{
        margin-bottom: 30px;
    }
    .serv-thi-textBox-item{
        padding-left : 0px;
        padding: 20px 0px ;
    }
    .serv-subtitle{
        font-size: 16px;
    }
    .whoawe{
        position: relative;
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 16px;
    }
    .serv-fou-textline-head{
        display: flex;
        align-items: center;

    }
    .serv-fou-textline-title{
        padding-left: 12px;
        font-size: 18px;
    }
    .serv-section-title{
        word-break: keep-all;
    }
    .serv-fou-textline-text{
        font-size: 16px;
        word-break: keep-all;
    }
    .service-zomIntBox{
        padding: 25px 20px;
        display: block;
    }
    .service-zomIntBox-right{
        padding-left: 0px;
    }
    .service-zomIntBox-icon{
        position: relative;
        width: 50px;
        height: 50px;
        line-height: 50px;
        left: 0px;
        margin-top: 25px;
    }
    .service-zomIntBox-right-title{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .service-zomIntBox-text{
        font-size: 14px;
        word-break: keep-all;
    }
    .service-zomIntBox-button{
        font-size: 14px;
        padding: 14px 0px;
        width: calc(33.3% - 20px);
    }
    .real-review-item{
        position: unset;
        width: 100%;
    }
    .real-review-item-title{
        width: 100%;
    }
    .real-review-underButton{
        width: 100%;
        margin-top: 30px;
        padding: 14px 0px ;
        font-size: 15px;
    }
    #serv-sixth{
        padding-top: 80px;
    }
    .serv-calumItem{
        display: block;
    }
    .serv-calumItem-left-top{
        font-size: 20px;
        text-align: left;
    }
    .serv-calumItem-left-bottom{
        font-size: 11px;
    }
    .serv-calumItem-left-title{
        font-size: 15px;
    }
    .serv-calumItem-left-text{
        font-size: 13px;
    }
    .serv-calumItem-left-right{
        width: 100%;
    }
    .serv-svnth-textBox{
        border: none;
        padding-left: 0px;
    }
    .serv-svnth-item{
        display: block;

    }
    .serv-svnth-item-left, .serv-svnth-item-right{
        width: 100% !important;
    }
    .serv-svnth-item-left-title{
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .serv-svnth-item-left-label{
        font-size: 14px;
    }
    .serv-svnth-item-right{
        font-size: 14px;
    }
    .serv-svnth-item-right>br{
        display: none;
    }
    .serv-eigth-accBox-title{
        padding: 20px 35px;
        font-size: 15px;
    }
    .serv-eigth-accBox-title>strong{
        left: 0px;
        font-size: 17px;
    }
    .openButton{
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
    .serv-eigth-accBox-body-open{
        padding: 20px 35px;
        font-size: 14px;
    }
}